In [11]:
import pandas as pd
import geopandas as gpd
import shapely.wkt
import shapely as shp

In [5]:
data = pd.read_csv('spatial_visual.csv')
data.head()

,Incident Zip,F_B,F_C,F_D,F_E,F_F,F_G,F_H,F_I,F_U,M_A,M_B,M_C,M_U,O_D,O_U
0,54901,2.0,6.0,1.0,1.0,16.0,5.0,54.0,20.0,0.0,211.0,94.0,2.0,38.0,0.0,0.0
1,54902,1.0,5.0,0.0,1.0,3.0,1.0,11.0,9.0,0.0,47.0,49.0,0.0,17.0,0.0,0.0
2,54904,0.0,1.0,1.0,1.0,3.0,0.0,4.0,2.0,0.0,29.0,16.0,0.0,8.0,1.0,0.0
3,54914,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,54915,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,4.0,4.0,0.0,2.0,0.0,0.0

In [16]:
data["country"] = "US"
data.to_csv("spatial_countries.csv")

In [8]:
data = data.drop([u'O_D  ', u'O_U  '], axis = 1)
data.head()

,Incident Zip,F_B,F_C,F_D,F_E,F_F,F_G,F_H,F_I,F_U,M_A,M_B,M_C,M_U
0,54901,2.0,6.0,1.0,1.0,16.0,5.0,54.0,20.0,0.0,211.0,94.0,2.0,38.0
1,54902,1.0,5.0,0.0,1.0,3.0,1.0,11.0,9.0,0.0,47.0,49.0,0.0,17.0
2,54904,0.0,1.0,1.0,1.0,3.0,0.0,4.0,2.0,0.0,29.0,16.0,0.0,8.0
3,54914,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,54915,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,4.0,4.0,0.0,2.0

In [14]:
sha = pd.read_csv('wi_centroid.csv')

In [15]:
sha.head()

,Unnamed: 0,GEOID10,geometry,centroid,area
0,0,53406,"POLYGON ((697001.6339924306 259111.7556624794,...",POINT (694791.8421371196 253030.3776194569),1.546982
1,1,53501,MULTIPOLYGON (((596174.0940122458 237123.92080...,POINT (596654.5249659717 237509.7574519539),0.006053
2,2,53502,"POLYGON ((563220.2822070753 257889.5610522227,...",POINT (565686.2667921071 251304.0815120926),4.764290
3,3,53503,"POLYGON ((533175.327644023 296071.6486484241, ...",POINT (523567.9509882115 296291.9851296617),5.376877
4,4,53504,"POLYGON ((540004.2325915087 255346.6063553197,...",POINT (531459.7469693656 247978.3840172211),8.538691